.p-sidebar {
    background-color: white;
    /* margin-top: 233px;
    margin-left: 60px; */
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    width: 400px;
}

.p-sidebar-close {
    padding-top: -20px;
}